//= require ../views/sidebar.js.es6

{{render "header"}}

<div id='main-outlet' {{bind-attr class=backgroundClass}}>
    <div {{bind-attr class=":global-side-bar :side-bar-wrap hideSidebar:no-side-bar"}}>
        <section class="main-outlet-wrap">{{outlet}}</section>
  </div>
  {{render "user-card"}}
</div>

{{#if showFooter}}
  {{custom-html "footer"}}
{{/if}}

{{render "modal"}}
{{render "topic-entrance"}}
{{render "composer"}}
